<nav class="navbar navbar-expand-lg bg-info-subtle">
  <div class="container" id="nav-items">
    <a class="navbar-brand" href="/"
      ><i class="nav_icon icon-basic-book"
        ><span id="nav_icon_text" class="mx-3">Library</span></i
      ></a
    >
    <div class="navbar-nav">
      <a class="nav-link mx-2" href="/register">Register</a>
      <a class="nav-link mx-2" href="/login">Login</a>
    </div>
  </div>
</nav>
